<%- include ("../partials/header"); %>

<div class="page_content">
    <h1 class="mt-4" >Register here</h1>

    <%- include ("../partials/messages"); %>

    <form action="/users/register" method="post" >
        <div class="form-group">
            <label for="username" class="form-label mt-4">Name</label>
            <div class="input-group w-50">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </span>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" aria-label="Input group example" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="form-label mt-4">Email address</label>
            <div class="input-group w-50">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                </span>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" aria-label="Input group example" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="form-group w-50">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group w-50">
            <label for="password2" class="form-label mt-4">Re-enter password</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Register</button>
    </form>

</div>