<h1>Login here</h1>

<form action="/users/login" method="post">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>